@using TheDevSpaceWebApp.ViewModels.Authentication

@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="box-center-login">
    <h2 class="text-center">Register</h2>
    <form method="post">
        <div class="mb-3 padding-top-30px">
            <input type="email" asp-for="Email" class="form-control input-dark" placeholder="E-mail">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 padding-top-5px">
            <input type="text" asp-for="Name" class="form-control input-dark" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 padding-top-5px">
            <input type="password" asp-for="Password" class="form-control input-dark" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 padding-top-5px">
            <input type="password" asp-for="ConfirmPassword" class="form-control input-dark" placeholder="Confirm password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="padding-top-30px padding-bottom-20px">
            <button type="submit" class="btn primary-color-button width-100-perc">Register</button>
        </div>
    </form>
    <a asp-action="Login" class="text-color-default">Back to login</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}