@using TheDevSpaceWebApp.ViewModels.Article

@model CreateEditArticleViewModel
@{
    ViewData["Title"] = "Edit article";
}

    <div class="container default-container">
        <h2 class="text-center">Edit article</h2>
        <partial name="_Partials/ArticleForm" model="Model"></partial>
    </div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny'
        });
    </script>
}