@using System.Globalization
@using TheDevSpaceWebApp.ViewModels.Article

@model List<ArticleViewModel>
@{
    ViewData["Title"] = "Articles Home";
}

<div class="container padding-top-70px">
    <h2 class="text-center">Technical Articles - Increase your knowledge!</h2>

    <partial name="_Partials/ArticleList" model="Model"></partial>
</div>