@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container padding-top-70px padding-bottom-40px" style="min-height: 85vh">
    <h2 class="text-center text-danger">
        @Model.Title
    </h2>
    <br />
    <h4 class="text-center">
        @Model.Message
    </h4>
</div>